.ttt {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cell-row {
  display: flex;
  flex-direction: row;
}

.cell {
  padding: 3rem;
  font-size: 3rem;
  width: 3rem;
  aspect-ratio: 1/1;
  cursor: pointer;
}
